<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_customer})}|">Show Customer - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${customer}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="customer-customername-field" data-z="5cf99a69">
            	      <strong data-th-text="#{label_customer_customername}">customerName</strong>
                    <span data-th-text="*{{customerName}}">customerNameValue</span>
         	        </li>
                  <li id="customer-mobilenumber-field" data-z="55493a29">
            	      <strong data-th-text="#{label_customer_mobilenumber}">mobileNumber</strong>
                    <span data-th-text="*{{mobileNumber}}">mobileNumberValue</span>
         	        </li>
                  <li id="customer-dateofbirth-field" data-z="ba8a4c95">
            	      <strong data-th-text="#{label_customer_dateofbirth}">dateOfBirth</strong>
                    <span data-th-text="*{{dateOfBirth}}">dateOfBirthValue</span>
         	        </li>
                  <li id="customer-emailid-field" data-z="19f34c55">
            	      <strong data-th-text="#{label_customer_emailid}">emailId</strong>
                    <span data-th-text="*{{emailId}}">emailIdValue</span>
         	        </li>
                  <li id="customer-documentproof-field" data-z="204d6d55">
            	      <strong data-th-text="#{label_customer_documentproof}">documentProof</strong>
                    <span data-th-text="*{{documentProof}}">documentProofValue</span>
         	        </li>
                  <li id="customer-addressline1-field" data-z="93e6ca29">
            	      <strong data-th-text="#{label_customer_addressline1}">addressLine1</strong>
                    <span data-th-text="*{{addressLine1}}">addressLine1Value</span>
         	        </li>
                  <li id="customer-addressline2-field" data-z="93e6ce09">
            	      <strong data-th-text="#{label_customer_addressline2}">addressLine2</strong>
                    <span data-th-text="*{{addressLine2}}">addressLine2Value</span>
         	        </li>
                  <li id="customer-cityname-field" data-z="fd7381c9">
            	      <strong data-th-text="#{label_customer_cityname}">cityName</strong>
                    <span data-th-text="*{{cityName}}">cityNameValue</span>
         	        </li>
                  <li id="customer-country-field" data-z="a8aa9855">
            	      <strong data-th-text="#{label_customer_country}">country</strong>
                    <span data-th-text="*{{country}}">countryValue</span>
         	        </li>
                  <li id="customer-customerbooking-field" data-z="a4cad195">
            	      <strong data-th-text="#{label_customer_customerbooking}">customerBooking</strong>
                    <span data-th-text="*{{customerBooking}}">customerBookingValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
