<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_customer})}">
    Edit Customer - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('CustomersCollectionThymeleafController')},itemLink=${@linkBuilder.of('CustomersItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_customer})}">Edit Customer</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${customer}" data-th-action="@{${itemLink.to('update').with('customer', customer.id)}}">
            <input type="hidden" name="_method" value="PUT" />
            <input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div class="alert alert-warning" data-th-if="${concurrency}">
              <h2 data-th-text="#{label_concurrency_title}">Warning! This record has been updated by an other user.</h2>
              <div class="radio">
                <label>
                  <input type="radio" name="concurrency" value="apply"> <span data-th-text="#{label_concurrency_apply}">Apply my changes anyway</span> <i><span data-th-text="#{label_concurrency_apply_info}">(discard all the changes applied by the other users).</span></i>
                </input></label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="concurrency" value="discard" checked=""> <span data-th-text="#{label_concurrency_discard}">Discard all my changes and reload this record.</span>
                </input></label>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Accept</button>
            </br></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_customer})}">Customer data </legend>

<div class="form-group has-error has-feedback" data-z="5cf99a69" id="customer-customername-field" data-th-classappend="${#fields.hasErrors('customerName')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="customerName" class="col-md-3 control-label" data-th-text="#{label_customer_customername}">customerName</label>
  <div class="col-md-6">
    <input id="customerName" name="customerName" data-th-value="*{{customerName}}" type="text" class="form-control" placeholder="customerName" data-th-placeholder="#{label_customer_customername}" data-toggle="tooltip" aria-describedby="customerNameStatus" />
      <span data-th-classappend="${#fields.hasErrors('customerName')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('customerName')}" aria-hidden="true"></span>
      <span id="customerName-error" class="help-block" data-th-if="${#fields.hasErrors('customerName')}" data-th-errors="*{customerName}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="55493a29" id="customer-mobilenumber-field" data-th-classappend="${#fields.hasErrors('mobileNumber')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="mobileNumber" class="col-md-3 control-label" data-th-text="#{label_customer_mobilenumber}">mobileNumber</label>
  <div class="col-md-6">
    <input id="mobileNumber" name="mobileNumber" data-th-value="*{{mobileNumber}}" type="text" class="form-control" placeholder="mobileNumber" data-th-placeholder="#{label_customer_mobilenumber}" data-toggle="tooltip" aria-describedby="mobileNumberStatus" />
      <span data-th-classappend="${#fields.hasErrors('mobileNumber')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('mobileNumber')}" aria-hidden="true"></span>
      <span id="mobileNumber-error" class="help-block" data-th-if="${#fields.hasErrors('mobileNumber')}" data-th-errors="*{mobileNumber}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="ba8a4c95" id="customer-dateofbirth-field" data-th-classappend="${#fields.hasErrors('dateOfBirth')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="dateOfBirth" class="col-md-3 control-label" data-th-text="#{label_customer_dateofbirth}">dateOfBirth</label>
  <div class="col-md-6">
    <input id="dateOfBirth" name="dateOfBirth" data-th-value="*{{dateOfBirth}}" type="text" class="form-control" placeholder="dateOfBirth" data-th-placeholder="#{label_customer_dateofbirth}" data-toggle="tooltip" aria-describedby="dateOfBirthStatus" />
      <span data-th-classappend="${#fields.hasErrors('dateOfBirth')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('dateOfBirth')}" aria-hidden="true"></span>
      <span id="dateOfBirth-error" class="help-block" data-th-if="${#fields.hasErrors('dateOfBirth')}" data-th-errors="*{dateOfBirth}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="19f34c55" id="customer-emailid-field" data-th-classappend="${#fields.hasErrors('emailId')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="emailId" class="col-md-3 control-label" data-th-text="#{label_customer_emailid}">emailId</label>
  <div class="col-md-6">
    <input id="emailId" name="emailId" data-th-value="*{{emailId}}" type="text" class="form-control" placeholder="emailId" data-th-placeholder="#{label_customer_emailid}" data-toggle="tooltip" aria-describedby="emailIdStatus" />
      <span data-th-classappend="${#fields.hasErrors('emailId')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('emailId')}" aria-hidden="true"></span>
      <span id="emailId-error" class="help-block" data-th-if="${#fields.hasErrors('emailId')}" data-th-errors="*{emailId}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="204d6d55" id="customer-documentproof-field" data-th-classappend="${#fields.hasErrors('documentProof')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="documentProof" class="col-md-3 control-label" data-th-text="#{label_customer_documentproof}">documentProof</label>
  <div class="col-md-6">
    <input id="documentProof" name="documentProof" data-th-value="*{{documentProof}}" type="text" class="form-control" placeholder="documentProof" data-th-placeholder="#{label_customer_documentproof}" data-toggle="tooltip" aria-describedby="documentProofStatus" />
      <span data-th-classappend="${#fields.hasErrors('documentProof')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('documentProof')}" aria-hidden="true"></span>
      <span id="documentProof-error" class="help-block" data-th-if="${#fields.hasErrors('documentProof')}" data-th-errors="*{documentProof}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="93e6ca29" id="customer-addressline1-field" data-th-classappend="${#fields.hasErrors('addressLine1')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="addressLine1" class="col-md-3 control-label" data-th-text="#{label_customer_addressline1}">addressLine1</label>
  <div class="col-md-6">
    <input id="addressLine1" name="addressLine1" data-th-value="*{{addressLine1}}" type="text" class="form-control" placeholder="addressLine1" data-th-placeholder="#{label_customer_addressline1}" data-toggle="tooltip" aria-describedby="addressLine1Status" />
      <span data-th-classappend="${#fields.hasErrors('addressLine1')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('addressLine1')}" aria-hidden="true"></span>
      <span id="addressLine1-error" class="help-block" data-th-if="${#fields.hasErrors('addressLine1')}" data-th-errors="*{addressLine1}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="93e6ce09" id="customer-addressline2-field" data-th-classappend="${#fields.hasErrors('addressLine2')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="addressLine2" class="col-md-3 control-label" data-th-text="#{label_customer_addressline2}">addressLine2</label>
  <div class="col-md-6">
    <input id="addressLine2" name="addressLine2" data-th-value="*{{addressLine2}}" type="text" class="form-control" placeholder="addressLine2" data-th-placeholder="#{label_customer_addressline2}" data-toggle="tooltip" aria-describedby="addressLine2Status" />
      <span data-th-classappend="${#fields.hasErrors('addressLine2')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('addressLine2')}" aria-hidden="true"></span>
      <span id="addressLine2-error" class="help-block" data-th-if="${#fields.hasErrors('addressLine2')}" data-th-errors="*{addressLine2}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="fd7381c9" id="customer-cityname-field" data-th-classappend="${#fields.hasErrors('cityName')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="cityName" class="col-md-3 control-label" data-th-text="#{label_customer_cityname}">cityName</label>
  <div class="col-md-6">
    <input id="cityName" name="cityName" data-th-value="*{{cityName}}" type="text" class="form-control" placeholder="cityName" data-th-placeholder="#{label_customer_cityname}" data-toggle="tooltip" aria-describedby="cityNameStatus" />
      <span data-th-classappend="${#fields.hasErrors('cityName')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('cityName')}" aria-hidden="true"></span>
      <span id="cityName-error" class="help-block" data-th-if="${#fields.hasErrors('cityName')}" data-th-errors="*{cityName}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="a8aa9855" id="customer-country-field" data-th-classappend="${#fields.hasErrors('country')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="country" class="col-md-3 control-label" data-th-text="#{label_customer_country}">country</label>
  <div class="col-md-6">
    <input id="country" name="country" data-th-value="*{{country}}" type="text" class="form-control" placeholder="country" data-th-placeholder="#{label_customer_country}" data-toggle="tooltip" aria-describedby="countryStatus" />
      <span data-th-classappend="${#fields.hasErrors('country')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('country')}" aria-hidden="true"></span>
      <span id="country-error" class="help-block" data-th-if="${#fields.hasErrors('country')}" data-th-errors="*{country}">Error message.</span>
  </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
