<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_customerbooking})}">
    Edit CustomerBooking - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('CustomerBookingsCollectionThymeleafController')},itemLink=${@linkBuilder.of('CustomerBookingsItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_customerbooking})}">Edit CustomerBooking</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${customerBooking}" data-th-action="@{${itemLink.to('update').with('customerBooking', customerBooking.id)}}">
            <input type="hidden" name="_method" value="PUT" />
            <input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div class="alert alert-warning" data-th-if="${concurrency}">
              <h2 data-th-text="#{label_concurrency_title}">Warning! This record has been updated by an other user.</h2>
              <div class="radio">
                <label>
                  <input type="radio" name="concurrency" value="apply"> <span data-th-text="#{label_concurrency_apply}">Apply my changes anyway</span> <i><span data-th-text="#{label_concurrency_apply_info}">(discard all the changes applied by the other users).</span></i>
                </input></label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="concurrency" value="discard" checked=""> <span data-th-text="#{label_concurrency_discard}">Discard all my changes and reload this record.</span>
                </input></label>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Accept</button>
            </br></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_customerbooking})}">CustomerBooking data </legend>

<div class="form-group has-error has-feedback" data-z="dc7a5e90" id="customerbooking-customer-field" data-th-classappend="${#fields.hasErrors('customer')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('CustomersCollectionThymeleafController')}">
    <label for="customer" class="col-md-3 control-label" data-th-text="#{label_customerbooking_customer}">Customer</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{customer}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{customer} == null" data-th-value="*{customer.id}" data-th-text="*{{customer}}" selected="selected">Customer</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('customer')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('customer')}" aria-hidden="true"></span>
      <span id="customer-error" class="help-block" data-th-if="${#fields.hasErrors('customer')}" data-th-errors="*{customer}">Error message.</span>
    </div>
</div>

<!-- Adding this hidden field to get the accomidationPrice. Since calculateTotal() will be called when we change the accomidation from dropdown.
But it will not be called initially -->
<input type="hidden" id="accomidationValue" disabled name="accomidation" data-th-value="*{{accomidation.accomidationPrice}}">

<div class="form-group has-error has-feedback" data-z="821f670" id="customerbooking-accomidation-field" data-th-classappend="${#fields.hasErrors('accomidation')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('AccomidationsCollectionThymeleafController')}">
    <label for="accomidation" class="col-md-3 control-label" data-th-text="#{label_customerbooking_accomidation}">Accomidation</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{accomidation}" onChange="calculateTotal()" class="form-control dropdown-select-ajax-with-custom-template" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{accomidation} == null" data-th-value="*{accomidation.id}" data-th-text="*{{accomidation}}" selected="selected">Accomidation</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('accomidation')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('accomidation')}" aria-hidden="true"></span>
      <span id="accomidation-error" class="help-block" data-th-if="${#fields.hasErrors('accomidation')}" data-th-errors="*{accomidation}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="ce07a770" id="customerbooking-organization-field" data-th-classappend="${#fields.hasErrors('organization')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="organization" class="col-md-3 control-label" data-th-text="#{label_customerbooking_organization}">organization</label>
  <div class="col-md-6">
    <input id="organization" name="organization" data-th-value="*{{organization}}" type="text" class="form-control" placeholder="organization" data-th-placeholder="#{label_customerbooking_organization}" data-toggle="tooltip" aria-describedby="organizationStatus" />
      <span data-th-classappend="${#fields.hasErrors('organization')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('organization')}" aria-hidden="true"></span>
      <span id="organization-error" class="help-block" data-th-if="${#fields.hasErrors('organization')}" data-th-errors="*{organization}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="cbd905ae" id="customerbooking-checkindate-field" data-th-classappend="${#fields.hasErrors('checkInDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="checkInDate" class="col-md-3 control-label" data-th-text="#{label_customerbooking_checkindate}">checkInDate</label>
  <div class="col-md-6">
    <input id="checkInDate" name="checkInDate" data-th-value="*{{checkInDate}}" type="text" class="form-control" placeholder="checkInDate" data-th-placeholder="#{label_customerbooking_checkindate}" data-toggle="tooltip" aria-describedby="checkInDateStatus" />
      <span data-th-classappend="${#fields.hasErrors('checkInDate')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('checkInDate')}" aria-hidden="true"></span>
      <span id="checkInDate-error" class="help-block" data-th-if="${#fields.hasErrors('checkInDate')}" data-th-errors="*{checkInDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="b5aa1f50" id="customerbooking-checkoutdate-field" data-th-classappend="${#fields.hasErrors('checkOutDate')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="checkOutDate" class="col-md-3 control-label" data-th-text="#{label_customerbooking_checkoutdate}">checkOutDate</label>
  <div class="col-md-6">
    <input id="checkOutDate" name="checkOutDate" data-th-value="*{{checkOutDate}}" type="text" class="form-control" placeholder="checkOutDate" data-th-placeholder="#{label_customerbooking_checkoutdate}" data-toggle="tooltip" aria-describedby="checkOutDateStatus" />
      <span data-th-classappend="${#fields.hasErrors('checkOutDate')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('checkOutDate')}" aria-hidden="true"></span>
      <span id="checkOutDate-error" class="help-block" data-th-if="${#fields.hasErrors('checkOutDate')}" data-th-errors="*{checkOutDate}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="1b5278b0" id="customerbooking-noofdays-field" data-th-classappend="${#fields.hasErrors('noOfDays')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="noOfDays" class="col-md-3 control-label" data-th-text="#{label_customerbooking_noofdays}">noOfDays</label>
  <div class="col-md-3">
    <input id="noOfDays" oninput="calculateTotal()" name="noOfDays" data-th-value="*{{noOfDays}}" type="text" class="form-control inputmask" placeholder="noOfDays" data-th-placeholder="#{label_customerbooking_noofdays}" data-toggle="tooltip" aria-describedby="noOfDaysStatus" data-inputmask-alias="numeric" data-inputmask-digits="0" min="1" />
      <span data-th-classappend="${#fields.hasErrors('noOfDays')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('noOfDays')}" aria-hidden="true"></span>
      <span id="noOfDays-error" class="help-block" data-th-if="${#fields.hasErrors('noOfDays')}" data-th-errors="*{noOfDays}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="6380a84e" id="customerbooking-noofrooms-field" data-th-classappend="${#fields.hasErrors('noOfRooms')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="noOfRooms" class="col-md-3 control-label" data-th-text="#{label_customerbooking_noofrooms}">noOfRooms</label>
  <div class="col-md-3">
    <input id="noOfRooms" oninput="calculateTotal()" name="noOfRooms" data-th-value="*{{noOfRooms}}" type="text" class="form-control inputmask" placeholder="noOfRooms" data-th-placeholder="#{label_customerbooking_noofrooms}" data-toggle="tooltip" aria-describedby="noOfRoomsStatus" data-inputmask-alias="numeric" data-inputmask-digits="0" min="1" />
      <span data-th-classappend="${#fields.hasErrors('noOfRooms')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('noOfRooms')}" aria-hidden="true"></span>
      <span id="noOfRooms-error" class="help-block" data-th-if="${#fields.hasErrors('noOfRooms')}" data-th-errors="*{noOfRooms}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="f078aece" id="customerbooking-roomnumbers-field" data-th-classappend="${#fields.hasErrors('roomNumbers')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="roomNumbers" class="col-md-3 control-label" data-th-text="#{label_customerbooking_roomnumbers}">roomNumbers</label>
  <div class="col-md-6">
    <input id="roomNumbers" name="roomNumbers" data-th-value="*{{roomNumbers}}" type="text" class="form-control" placeholder="roomNumbers" data-th-placeholder="#{label_customerbooking_roomnumbers}" data-toggle="tooltip" aria-describedby="roomNumbersStatus" />
      <span data-th-classappend="${#fields.hasErrors('roomNumbers')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('roomNumbers')}" aria-hidden="true"></span>
      <span id="roomNumbers-error" class="help-block" data-th-if="${#fields.hasErrors('roomNumbers')}" data-th-errors="*{roomNumbers}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="8bb3be2e" id="customerbooking-specialinstructions-field" data-th-classappend="${#fields.hasErrors('specialInstructions')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="specialInstructions" class="col-md-3 control-label" data-th-text="#{label_customerbooking_specialinstructions}">specialInstructions</label>
  <div class="col-md-6">
    <input id="specialInstructions" name="specialInstructions" data-th-value="*{{specialInstructions}}" type="text" class="form-control" placeholder="specialInstructions" data-th-placeholder="#{label_customerbooking_specialinstructions}" data-toggle="tooltip" aria-describedby="specialInstructionsStatus" />
      <span data-th-classappend="${#fields.hasErrors('specialInstructions')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('specialInstructions')}" aria-hidden="true"></span>
      <span id="specialInstructions-error" class="help-block" data-th-if="${#fields.hasErrors('specialInstructions')}" data-th-errors="*{specialInstructions}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="d1a1d590" id="customerbooking-customerdiscount-field" data-th-classappend="${#fields.hasErrors('customerDiscount')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="customerDiscount" class="col-md-3 control-label" data-th-text="#{label_customerbooking_customerdiscount}">customerDiscount</label>
  <div class="col-md-3">
    <input id="customerDiscount" oninput="calculateTotal()" name="customerDiscount" data-th-value="*{{customerDiscount}}" type="text" class="form-control inputmask" placeholder="customerDiscount" data-th-placeholder="#{label_customerbooking_customerdiscount}" data-toggle="tooltip" aria-describedby="customerDiscountStatus" data-inputmask-alias="numeric" data-inputmask-digits="0" />
      <span data-th-classappend="${#fields.hasErrors('customerDiscount')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('customerDiscount')}" aria-hidden="true"></span>
      <span id="customerDiscount-error" class="help-block" data-th-if="${#fields.hasErrors('customerDiscount')}" data-th-errors="*{customerDiscount}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="5dbc852e" id="customerbooking-amountafterdiscount-field" data-th-classappend="${#fields.hasErrors('amountAfterDiscount')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="amountAfterDiscount" class="col-md-3 control-label" data-th-text="#{label_customerbooking_amountafterdiscount}">amountAfterDiscount</label>
  <div class="col-md-3">
    <input id="amountAfterDiscount" name="amountAfterDiscount" data-th-value="*{{amountAfterDiscount}}" type="text" class="form-control inputmask" placeholder="amountAfterDiscount" data-th-placeholder="#{label_customerbooking_amountafterdiscount}" data-toggle="tooltip" aria-describedby="amountAfterDiscountStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('amountAfterDiscount')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('amountAfterDiscount')}" aria-hidden="true"></span>
      <span id="amountAfterDiscount-error" class="help-block" data-th-if="${#fields.hasErrors('amountAfterDiscount')}" data-th-errors="*{amountAfterDiscount}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="da8a7010" id="customerbooking-sgst-field" data-th-classappend="${#fields.hasErrors('sGst')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="sGst" class="col-md-3 control-label" data-th-text="#{label_customerbooking_sgst}">sGst</label>
  <div class="col-md-3">
    <input id="sGst" name="sGst" data-th-value="*{{sGst}}" type="text" class="form-control inputmask" placeholder="sGst" data-th-placeholder="#{label_customerbooking_sgst}" data-toggle="tooltip" aria-describedby="sGstStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('sGst')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('sGst')}" aria-hidden="true"></span>
      <span id="sGst-error" class="help-block" data-th-if="${#fields.hasErrors('sGst')}" data-th-errors="*{sGst}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="be5b6e10" id="customerbooking-cgst-field" data-th-classappend="${#fields.hasErrors('cGst')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="cGst" class="col-md-3 control-label" data-th-text="#{label_customerbooking_cgst}">cGst</label>
  <div class="col-md-3">
    <input id="cGst" name="cGst" data-th-value="*{{cGst}}" type="text" class="form-control inputmask" placeholder="cGst" data-th-placeholder="#{label_customerbooking_cgst}" data-toggle="tooltip" aria-describedby="cGstStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('cGst')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('cGst')}" aria-hidden="true"></span>
      <span id="cGst-error" class="help-block" data-th-if="${#fields.hasErrors('cGst')}" data-th-errors="*{cGst}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="a487a430" id="customerbooking-totalaftertaxperroom-field" data-th-classappend="${#fields.hasErrors('totalAfterTaxPerRoom')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="totalAfterTaxPerRoom" class="col-md-3 control-label" data-th-text="#{label_customerbooking_totalaftertaxperroom}">totalAfterTaxPerRoom</label>
  <div class="col-md-3">
    <input id="totalAfterTaxPerRoom" name="totalAfterTaxPerRoom" data-th-value="*{{totalAfterTaxPerRoom}}" type="text" class="form-control inputmask" placeholder="totalAfterTaxPerRoom" data-th-placeholder="#{label_customerbooking_totalaftertaxperroom}" data-toggle="tooltip" aria-describedby="totalAfterTaxPerRoomStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('totalAfterTaxPerRoom')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('totalAfterTaxPerRoom')}" aria-hidden="true"></span>
      <span id="totalAfterTaxPerRoom-error" class="help-block" data-th-if="${#fields.hasErrors('totalAfterTaxPerRoom')}" data-th-errors="*{totalAfterTaxPerRoom}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="77ac464e" id="customerbooking-finalamountaftertax-field" data-th-classappend="${#fields.hasErrors('finalAmountAfterTax')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="finalAmountAfterTax" class="col-md-3 control-label" data-th-text="#{label_customerbooking_finalamountaftertax}">finalAmountAfterTax</label>
  <div class="col-md-3">
    <input id="finalAmountAfterTax" name="finalAmountAfterTax" data-th-value="*{{finalAmountAfterTax}}" type="text" class="form-control inputmask" placeholder="finalAmountAfterTax" data-th-placeholder="#{label_customerbooking_finalamountaftertax}" data-toggle="tooltip" aria-describedby="finalAmountAfterTaxStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('finalAmountAfterTax')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('finalAmountAfterTax')}" aria-hidden="true"></span>
      <span id="finalAmountAfterTax-error" class="help-block" data-th-if="${#fields.hasErrors('finalAmountAfterTax')}" data-th-errors="*{finalAmountAfterTax}">Error message.</span>
  </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      
      $(document).ready(function(){
          $(".dropdown-select-ajax-with-custom-template").select2({
              debug : false,
              theme : 'bootstrap',
              allowClear : true,
              ajax : {
                  data : function(params) {
                      // set search params names to match with GlobalSearch and
                      // Pageable arguments
                      var query = {
                          'search[value]' : params.term,
                          'page' : params.page - 1,
                      };
                      return query;
                  }
              },
              // CUSTOMIZE OPTION ELEMENT
              templateSelection: function(data, container){
                if(data.info){
                  // Add custom attributes to the <option> tag for the selected option
                  $(data.element).attr('data-accomidationPrice', data.info.accomidationPrice);
                }
                return data.text;
              }
          });
      });
    
    function calculateTotal() {
	    var noOfDays = document.getElementById("noOfDays").value;
	    var noOfRooms = document.getElementById("noOfRooms").value;
	    var amountAfterDiscount = document.getElementById("amountAfterDiscount");
	    var sGst = document.getElementById("sGst");
	    var cGst = document.getElementById("cGst");
	    var totalAfterTaxPerRoom = document.getElementById("totalAfterTaxPerRoom");
	    var customerDiscount = document.getElementById("customerDiscount").value;
	    var finalAmountAfterTax = document.getElementById("finalAmountAfterTax");
	    
	    var price = $(".dropdown-select-ajax-with-custom-template").find(':selected').data('accomidationprice');
	    
	    var accomidationValue = document.getElementById("accomidationValue");
	    var removeComma = accomidationValue.value.replace(/\,/g,"");
	    
	    var priceValue = price != undefined ? price : parseInt(removeComma);
	
		amountAfterDiscount.value = priceValue * noOfRooms * noOfDays;
	
		if (customerDiscount) amountAfterDiscount.value -= customerDiscount;
	
	    sGst.value = amountAfterDiscount.value * 0.09;
	    cGst.value = amountAfterDiscount.value * 0.09;
	    finalAmountAfterTax.value = parseInt(amountAfterDiscount.value) + parseInt(sGst.value) + parseInt(cGst.value);
	    var sgst = (priceValue - customerDiscount) * 0.09;
	    totalAfterTaxPerRoom.value = priceValue - customerDiscount + sgst + sgst;
}

      </script>

    </div>

  </body>

</html>
