<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_customerbooking})}|">Show CustomerBooking - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${customerBooking}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="customerbooking-customer-field" data-z="dc7a5e90">
            	      <strong data-th-text="#{label_customerbooking_customer}">customer</strong>
                    <span data-th-text="*{{customer}}">customerValue</span>
         	        </li>
                  <li id="customerbooking-accomidation-field" data-z="821f670">
            	      <strong data-th-text="#{label_customerbooking_accomidation}">accomidation</strong>
                    <span data-th-text="*{{accomidation}}">accomidationValue</span>
         	        </li>
                  <li id="customerbooking-organization-field" data-z="ce07a770">
            	      <strong data-th-text="#{label_customerbooking_organization}">organization</strong>
                    <span data-th-text="*{{organization}}">organizationValue</span>
         	        </li>
                  <li id="customerbooking-checkindate-field" data-z="cbd905ae">
            	      <strong data-th-text="#{label_customerbooking_checkindate}">checkInDate</strong>
                    <span data-th-text="*{{checkInDate}}">checkInDateValue</span>
         	        </li>
                  <li id="customerbooking-checkoutdate-field" data-z="b5aa1f50">
            	      <strong data-th-text="#{label_customerbooking_checkoutdate}">checkOutDate</strong>
                    <span data-th-text="*{{checkOutDate}}">checkOutDateValue</span>
         	        </li>
                  <li id="customerbooking-noofdays-field" data-z="1b5278b0">
            	      <strong data-th-text="#{label_customerbooking_noofdays}">noOfDays</strong>
                    <span data-th-text="*{{noOfDays}}">noOfDaysValue</span>
         	        </li>
                  <li id="customerbooking-noofrooms-field" data-z="6380a84e">
            	      <strong data-th-text="#{label_customerbooking_noofrooms}">noOfRooms</strong>
                    <span data-th-text="*{{noOfRooms}}">noOfRoomsValue</span>
         	        </li>
                  <li id="customerbooking-roomnumbers-field" data-z="f078aece">
            	      <strong data-th-text="#{label_customerbooking_roomnumbers}">roomNumbers</strong>
                    <span data-th-text="*{{roomNumbers}}">roomNumbersValue</span>
         	        </li>
                  <li id="customerbooking-specialinstructions-field" data-z="8bb3be2e">
            	      <strong data-th-text="#{label_customerbooking_specialinstructions}">specialInstructions</strong>
                    <span data-th-text="*{{specialInstructions}}">specialInstructionsValue</span>
         	        </li>
                  <li id="customerbooking-customerdiscount-field" data-z="d1a1d590">
            	      <strong data-th-text="#{label_customerbooking_customerdiscount}">customerDiscount</strong>
                    <span data-th-text="*{{customerDiscount}}">customerDiscountValue</span>
         	        </li>
                  <li id="customerbooking-amountafterdiscount-field" data-z="5dbc852e">
            	      <strong data-th-text="#{label_customerbooking_amountafterdiscount}">amountAfterDiscount</strong>
                    <span data-th-text="*{{amountAfterDiscount}}">amountAfterDiscountValue</span>
         	        </li>
                  <li id="customerbooking-sgst-field" data-z="da8a7010">
            	      <strong data-th-text="#{label_customerbooking_sgst}">sGst</strong>
                    <span data-th-text="*{{sGst}}">sGstValue</span>
         	        </li>
                  <li id="customerbooking-cgst-field" data-z="be5b6e10">
            	      <strong data-th-text="#{label_customerbooking_cgst}">cGst</strong>
                    <span data-th-text="*{{cGst}}">cGstValue</span>
         	        </li>
                  <li id="customerbooking-totalaftertaxperroom-field" data-z="a487a430">
            	      <strong data-th-text="#{label_customerbooking_totalaftertaxperroom}">totalAfterTaxPerRoom</strong>
                    <span data-th-text="*{{totalAfterTaxPerRoom}}">totalAfterTaxPerRoomValue</span>
         	        </li>
                  <li id="customerbooking-finalamountaftertax-field" data-z="77ac464e">
            	      <strong data-th-text="#{label_customerbooking_finalamountaftertax}">finalAmountAfterTax</strong>
                    <span data-th-text="*{{finalAmountAfterTax}}">finalAmountAfterTaxValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
