<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Footer</title>
  </head>
  <body id="body">
    <!--
    Only the internal content of the following div is included within
    the template, in footer fragment
    -->
    <footer class="container" data-th-fragment="footer">

       <div class="row">
      	 <div class="col-sm-6 col-sm-offset-3">
           <small class="clearfix">
             Made with
             <a href="http://mericlassifieds.com" data-th-title="#{label_gotowebsite}" target="_blank">
                mC</a>
             <span data-th-text="|© ${#calendars.format(#dates.createNow(),'yyyy')}|">
                © 2016</span>
            </small>
         </div>
       </div>

    </footer>

  </body>
</html>
