<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Footer</title>
</head>
<body id="body">
	<!--
    Only the internal content of the following div is included within
    the template, in footer fragment
    -->
	<footer class="container" data-th-fragment="footer">

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<small class="clearfix"> Made with <a
					href="http://mericlassifieds.com/"
					data-th-title="#{label_gotowebsite}" target="_blank"> Invoice
						Generator</a> <span
					data-th-text="|© ${#calendars.format(#dates.createNow(),'yyyy')}|">
						© 2017</span>
				</small>
			</div>
		</div>
		<!-- certified logos -->
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6 text-right">
				<a
					title="Application developed and tested with mC -
             Open Web Application Security Project"
					data-th-title="#{label_owasp_title}" target="_blank"
					href="http://mericlassifieds.com"> <img height="32" width="50"
					data-th-src="@{/public/img/mCLogo.png}"
					src="../static/public/img/mCLogo.png"
					data-th-alt="#{label_owasp_alt}"
					alt="Application developed and tested with mericlassifieds" />
				</a>
			</div>
		</div>

	</footer>

</body>
</html>
