<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/home-layout}">
    <head id="head">

    <title data-th-text="#{welcome_label}">Welcome</title>

  </head>

  <body class="home" id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

      <!-- CONTAINER -->
      <div class="container bg-container">
        <!-- CONTENT -->
        <!--
          Only the inner content of the following tag "section" is included
          within the template, in the section "content"
        -->
        <section data-layout-fragment="content">
          <div class="container-fluid content">

            <div class="box-center">
              <!-- Project info -->
              <div class="row">
                <div class="hidden-xs col-sm-4 col-sm-offset-1">
                   <img alt="Invoice Generator" data-th-src="@{/public/img/InvoiceLogo.png}" src="../static/public/img/InvoiceLogo.png" />
                </div>
                <div class="col-sm-6">
                  <h2 data-th-text="#{info_homepage_header}">With Invoice Generator you can easily build full Java applications in minutes.</h2>
                  <p data-th-text="#{info_homepage_paragraph}">Invoice Generator is a next-generation rapid application development tool for Java developers.
                  It focuses on higher productivity, stock-standard Java APIs, high usability, avoiding engineering trade-offs and
                  facilitating easy removal.
                  </p>
                  <p class="lead" data-th-text="#{info_homepage_thanks}">Thanks for your interest in Invoice Generator!</p>
                </div>
              </div>
            </div><!-- box-center -->

          </div>
        </section>
        <!-- /CONTENT -->
      </div>
      <!-- /CONTAINER -->

      <footer class="container">
        <!-- Content replaced by layout of the page displayed -->
      </footer>

      <!-- JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so that the pages load faster -->
      <!-- JavaScript loaded by layout of the page displayed -->
      <!--
           Only the inner content of the following tag "javascript" is included
           within the template, in the div "javascript"
          -->
      <div data-layout-fragment="javascript">
      </div>

  </body>

</html>
